#landing{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100vh;  
    background: url('../images/cheesebg.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    margin-left: 0px;
}
#landing h1{
    width: 100%;
    color: "azure";
    font-family: 'Indie Flower', cursive;
    font-size: 6em;
    font-weight: 600;
    letter-spacing: 7px;
}
#landing h3{
    font-family: 'Quicksand', cursive;
    color: yellow;
    font-size: 3em;
}
.gallery{
    max-width: 75em;
    margin: 0 auto;
}
.img-responsive{
    border-radius: 50px;
}
.adtext{
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 3em;
    padding-top: 15px;
    padding-bottom: 15px;
    span{
        font-size: 0.6em;

    }
}
.divider{
    padding-top: 20px;
    padding-bottom: 20px;
}
#camp{
    display: flex;
    justify-content: center;
    color: azure;
    height: 50vh;
    background: url('../images/camp.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .container{
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    .camptext{
        font-family: 'Quicksand', sans-serif;

        h3{
            font-size: 3em;
            letter-spacing: 5px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        p{
            text-align: justify;
            line-height: 2em;
        }
    }


}