.navbar{
	background-color: grey !important;
	opacity: 0.9 !important;
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
}

a.navbar-brand.d-none.d-lg-block{
	color: darkorange;
	font-size: 32px;
	font-weight: bold;
}
a.navbar-brand.d-lg-none{
	color: darkorange;
	font-size: 32px;
}

div.dropdown-menu.show{
	background-color: grey;
	opacity: 0.9;
}

a.dropdown-item{
	color: darkorange;
}

